layout {
   default_tab_template {
      pane size=1 borderless=true {
         plugin location="zellij:tab-bar"
      }
      children
      pane size=2 borderless=true {
         plugin location="zellij:status-bar"
      }
   }

   tab name="Palladium" focus=true {
      pane split_direction="vertical" {
         pane size="50%" {
            pane
         }
         pane size="50%" split_direction="horizontal" {
            pane size="70%"  {
               pane
            }
            pane size="30%"  {
               pane stacked=true {
                  pane
                  pane
               }
            }
         }
      }
   }
   tab name="Code" {
      pane stacked=true {
         pane cwd="../emu_c_tests/sm_smr5_cli" 
         pane cwd="../emu_c_tests/sm_a78_cli" 
         pane cwd="../emu_c_tests/sm_smr5_fd" 
      }
   }
   tab name="Waves" {
      pane
   }
   tab name="Lazygit" {
      pane command="lazygit" start_suspended=true
   }
}
